@import url(//db.onlinewebfonts.com/c/1064f0ad1cb65fdab43bb592ddd8aa91?family=Gilroy-Bold);
@import url(//db.onlinewebfonts.com/c/040a78b437acd0433612f92e61d04a1b?family=Gilroy-Medium);
@import url(//db.onlinewebfonts.com/c/040a78b437acd0433612f92e61d04a1b?family=Gilroy);

$height_nav: 118px;
$color_nav: #421100;
$color_imp: #D08C00;
$font_size_base: 16px;
$font_family-base: Gilroy-Medium, sans-serif;
$font_family-bold: Gilroy-Bold, sans-serif;
$font_family-light: Gilroy, sans-serif;
